# Custom Chatbot Project

* For this Custom Chatbot Project, I chose `character_descriptions.csv` file.
This file contains character descriptions from theater, television, and film productions.
Each row contains the name, description, medium, and setting.

* The reason of choosing this dataset is that,
depending on various types of questions, the Chatbot can answer plausible questions.
(e.g. who will be the most appropriate actress to play a 80's romantic movie? 
Provide two names of old male actors who can play in an american sitcom.)

## Data Wrangling

TODO: In the cells below, load your chosen dataset into a `pandas` dataframe with a column named `"text"`. This column should contain all of your text data, separated into at least 20 rows.

In [14]:
import pandas as pd
import numpy as np
import openai
from openai.embeddings_utils import get_embedding, distances_from_embeddings

In [2]:
openai.api_base = "https://openai.vocareum.com/v1"
openai.api_key = "YOUR API KEY"

In [3]:
df = pd.read_csv("data/character_descriptions.csv")
df.head()

    Name                                        Description Medium  Setting
0  Emily  A young woman in her early 20s, Emily is an as...   Play  England
1   Jack  A middle-aged man in his 40s, Jack is a succes...   Play  England
2  Alice  A woman in her late 30s, Alice is a warm and n...   Play  England
3    Tom  A man in his 50s, Tom is a retired soldier and...   Play  England
4  Sarah  A woman in her mid-20s, Sarah is a free-spirit...   Play  England

### Create a column "text".

In [5]:
df['text'] =  df['Name'] + ', living in ' + df['Setting'] + ', who usually plays in a ' + df['Medium'] + ', ' + df['Description']
df['text'][0]

"Emily, living in England, who usually plays in a Play, A young woman in her early 20s, Emily is an aspiring actress and Alice's daughter. She has a bubbly personality and a quick wit, but struggles with self-doubt and insecurity. She's also in a relationship with George."

### Let's generate Embeddings

In [6]:
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"
batch_size = 100
embeddings = []

for i in range(0, len(df), batch_size):
    # Send text data to OpenAI model to get embeddings
    response = openai.Embedding.create(
        input=df.iloc[i:i+batch_size]["text"].tolist(),
        engine=EMBEDDING_MODEL_NAME
    )
    
    # Add embeddings to list
    embeddings.extend([data["embedding"] for data in response["data"]])
    
# Add embeddings list to dataframe
df["embeddings"] = embeddings
df

,Name,Description,Medium,Setting,text,embeddings
0,Emily,"A young woman in her early 20s, Emily is an as...",Play,England,"Emily, living in England, who usually plays in...","[-0.015151883475482464, -0.017195267602801323,..."
1,Jack,"A middle-aged man in his 40s, Jack is a succes...",Play,England,"Jack, living in England, who usually plays in ...","[0.00807875394821167, -0.026968302205204964, 0..."
2,Alice,"A woman in her late 30s, Alice is a warm and n...",Play,England,"Alice, living in England, who usually plays in...","[0.003437075298279524, -0.01474058162420988, -..."
3,Tom,"A man in his 50s, Tom is a retired soldier and...",Play,England,"Tom, living in England, who usually plays in a...","[0.01544149685651064, -0.017899269238114357, 0..."
4,Sarah,"A woman in her mid-20s, Sarah is a free-spirit...",Play,England,"Sarah, living in England, who usually plays in...","[-0.009714245796203613, -0.028793489560484886,..."
5,George,"A man in his early 30s, George is a charming a...",Play,England,"George, living in England, who usually plays i...","[-0.019317220896482468, -0.015670737251639366,..."
6,Rachel,"A woman in her late 20s, Rachel is a shy and i...",Play,England,"Rachel, living in England, who usually plays i...","[-0.003012859495356679, -0.015269828028976917,..."
7,John,"A man in his 60s, John is a retired professor ...",Play,England,"John, living in England, who usually plays in ...","[0.02007964253425598, -0.016262318938970566, -..."
8,Maria,"A middle-aged Latina woman in her 40s, Maria i...",Movie,Texas,"Maria, living in Texas, who usually plays in a...","[-0.017404617741703987, -0.018720706924796104,..."
9,Caleb,"A young African American man in his early 20s,...",Movie,Texas,"Caleb, living in Texas, who usually plays in a...","[0.004072345327585936, -0.030203767120838165, ..."
10,Tyler,"A white man in his mid-30s, Tyler is a tough-a...",Movie,Texas,"Tyler, living in Texas, who usually plays in a...","[0.010516886599361897, -0.042947184294462204, ..."
11,Sonya,"A white woman in her late 20s, Sonya is a free...",Movie,Texas,"Sonya, living in Texas, who usually plays in a...","[0.004187805578112602, -0.024435993283987045, ..."
12,Manuel,"A middle-aged Hispanic man in his 50s, Manuel ...",Movie,Texas,"Manuel, living in Texas, who usually plays in ...","[-0.015944650396704674, -0.018877612426877022,..."
13,Will,"A white man in his early 40s, Will is a succes...",Movie,Texas,"Will, living in Texas, who usually plays in a ...","[-0.004453983157873154, -0.0390554741024971, 0..."
14,Mia,"A young Australian woman in her mid-20s, Mia i...",Limited Series,Australia,"Mia, living in Australia, who usually plays in...","[-0.014094952493906021, -0.021464861929416656,..."
15,Lucas,"A middle-aged Australian man in his 40s, Lucas...",Limited Series,Australia,"Lucas, living in Australia, who usually plays ...","[-0.0009539339225739241, -0.016526082530617714..."
16,Tahlia,A young Indigenous Australian woman in her ear...,Limited Series,Australia,"Tahlia, living in Australia, who usually plays...","[-0.015198922716081142, -0.015316641889512539,..."
17,Max,"A white Australian man in his late 20s, Max is...",Limited Series,Australia,"Max, living in Australia, who usually plays in...","[-0.0031043579801917076, -0.03323763981461525,..."
18,Ava,"A middle-aged Australian woman in her 50s, Ava...",Limited Series,Australia,"Ava, living in Australia, who usually plays in...","[-0.0008024619892239571, -0.011358693242073059..."
19,Donna,A seasoned performer with a larger-than-life p...,Musical,USA,"Donna, living in USA, who usually plays in a M...","[-0.02699066512286663, -0.01740950532257557, 0..."
20,Johnny,"A young up-and-coming performer, Johnny is ful...",Musical,USA,"Johnny, living in USA, who usually plays in a ...","[-0.029325218871235847, -0.020784892141819, 0...."
21,Sable,"A sultry and dramatic performer, Sable exudes ...",Musical,USA,"Sable, living in USA, who usually plays in a M...","[-0.028521226719021797, -0.019422350451350212,..."
22,Dolly,"A bubbly and vivacious performer, Dolly is a f...",Musical,USA,"Dolly, living in USA, who usually plays in a M...","[-0.031535618007183075, -0.0211494043469429, 0..."
23,Vixen,"A fierce and competitive performer, Vixen is a...",Musical,USA,"Vixen, living in USA, who usually plays in a M...","[-0.03103329986333847, -0.02666351944208145, 0..."
24,Karma,"A chameleon-like performer, Karma is known for...",Musical,USA,"Karma, living in USA, who usually plays in a M...","[-0.0022090240381658077, -0.019663242623209953..."
25,Crystal,"A quirky and imaginative performer, Crystal is...",Musical,USA,"Crystal, living in USA, who usually plays in a...","[-0.005196164827793837, -0.013521763496100903,..."
26,Olivia,A confident and charismatic marketing executiv...,Reality Show,USA,"Olivia, living in USA, who usually plays in a ...","[-0.006008494645357132, -0.0144046014174819, -..."
27,Marcus,"A charming and successful entrepreneur, Marcus...",Reality Show,USA,"Marcus, living in USA, who usually plays in a ...","[-0.011492015793919563, -0.03542492911219597, ..."
28,Maya,A kind and compassionate nurse with a heart of...,Reality Show,USA,"Maya, living in USA, who usually plays in a Re...","[-0.027725130319595337, -0.0204562209546566, -..."
29,James,"A handsome and athletic personal trainer, Jame...",Reality Show,USA,"James, living in USA, who usually plays in a R...","[-0.023088667541742325, -0.009097117930650711,..."
30,Sophia,"A fun-loving and adventurous travel blogger, S...",Reality Show,USA,"Sophia, living in USA, who usually plays in a ...","[0.013889731839299202, -0.017051946371793747, ..."
31,Noah,"A quirky and creative graphic designer, Noah i...",Reality Show,USA,"Noah, living in USA, who usually plays in a Re...","[-0.019025977700948715, -0.01887962408363819, ..."
32,Chloe,"A driven and ambitious attorney, Chloe is alwa...",Reality Show,USA,"Chloe, living in USA, who usually plays in a R...","[-0.006547391880303621, -0.0062907603569328785..."
33,Jake,"A laid-back and easygoing firefighter, Jake is...",Reality Show,USA,"Jake, living in USA, who usually plays in a Re...","[-0.014169486239552498, -0.01804579608142376, ..."
34,Prince Lorenzo,A charming and handsome prince who has recentl...,Opera,Italy,"Prince Lorenzo, living in Italy, who usually p...","[-0.0031361186411231756, -0.022292576730251312..."
35,Signora Rosa,A mysterious and alluring woman who runs a loc...,Opera,Italy,"Signora Rosa, living in Italy, who usually pla...","[0.005851053632795811, -0.011616450734436512, ..."
36,Baron Gustavo,A wealthy and arrogant nobleman who loves to f...,Opera,Italy,"Baron Gustavo, living in Italy, who usually pl...","[-0.02001178450882435, -0.02086052857339382, 0..."
37,Francesca,A fiery and passionate young woman who works a...,Opera,Italy,"Francesca, living in Italy, who usually plays ...","[-0.013723938725888729, -0.021630680188536644,..."
38,Don Carlo,A charming and charismatic young man who is of...,Opera,Italy,"Don Carlo, living in Italy, who usually plays ...","[-0.010799444280564785, -0.00947028212249279, ..."
39,Duke Orsino,A pompous and self-important nobleman who is h...,Play,Ancient Greece,"Duke Orsino, living in Ancient Greece, who usu...","[-0.00484694167971611, -0.041772060096263885, ..."
40,Lady Olivia,A wealthy and beautiful noblewoman who has rec...,Play,Ancient Greece,"Lady Olivia, living in Ancient Greece, who usu...","[-0.016988877207040787, -0.022617332637310028,..."
41,Sir Toby Belch,A drunken and lecherous knight who loves nothi...,Play,Ancient Greece,"Sir Toby Belch, living in Ancient Greece, who ...","[-0.001157051301561296, -0.03270556032657623, ..."
42,Malvolio,A pompous and self-righteous steward in Lady O...,Play,Ancient Greece,"Malvolio, living in Ancient Greece, who usuall...","[-0.014389486983418465, -0.03451419249176979, ..."
43,Viola,A plucky and resourceful young woman who is sh...,Play,Ancient Greece,"Viola, living in Ancient Greece, who usually p...","[-0.010630272328853607, -0.04157674312591553, ..."
44,Sir Andrew Aguecheek,A dim-witted and gullible nobleman who is brou...,Play,Ancient Greece,"Sir Andrew Aguecheek, living in Ancient Greece...","[-0.021708397194743156, -0.026316437870264053,..."
45,Bianca,Lady Olivia's cunning and quick-witted maid. B...,Play,Ancient Greece,"Bianca, living in Ancient Greece, who usually ...","[-0.013279418461024761, -0.026507114991545677,..."
46,Sebastian,"Viola's twin brother, who is also shipwrecked ...",Play,Ancient Greece,"Sebastian, living in Ancient Greece, who usual...","[-0.008397541008889675, -0.03959941491484642, ..."
47,Feste,A jester and musician who works in Lady Olivia...,Play,Ancient Greece,"Feste, living in Ancient Greece, who usually p...","[-0.009625444188714027, -0.022042596712708473,..."
48,Antonio,A sea captain who rescues Sebastian from the s...,Play,Ancient Greece,"Antonio, living in Ancient Greece, who usually...","[-0.0039017784874886274, -0.030928097665309906..."
49,Abigail,A plucky and resourceful young woman who works...,Sitcom,USA,"Abigail, living in USA, who usually plays in a...","[-0.026097768917679787, -0.02158009260892868, ..."
50,Thomas,A good-natured and affable young man who also ...,Sitcom,USA,"Thomas, living in USA, who usually plays in a ...","[-0.014383263885974884, -0.008755599148571491,..."
51,Reverend Brown,The pious and stern minister of the local chur...,Sitcom,USA,"Reverend Brown, living in USA, who usually pla...","[-0.0022028484381735325, -0.0323106087744236, ..."
52,Captain James,The charismatic and dashing captain of the loc...,Sitcom,USA,"Captain James, living in USA, who usually play...","[-0.007886371575295925, -0.020474107936024666,..."
53,Mrs. Mercer,The matriarch of the wealthiest family in Will...,Sitcom,USA,"Mrs. Mercer, living in USA, who usually plays ...","[-0.01721068285405636, -0.012908012606203556, ..."
54,Mr. Mercer,The bumbling and absent-minded patriarch of th...,Sitcom,USA,"Mr. Mercer, living in USA, who usually plays i...","[-0.007667117286473513, -0.011930243112146854,..."

In [9]:
# Save only necessary columns
df[["text", "embeddings"]].to_csv("data/character_descriptions_embeddings.csv")

## Custom Query Completion

Compose a custom query using your chosen dataset and retrieve results from an OpenAI `Completion` model. You may copy and paste any useful code from the course materials.

In [10]:
# Here, the code from case-study was used so as not to generate the embeddings again.
df = pd.read_csv("data/character_descriptions_embeddings.csv", index_col=0)
df["embeddings"] = df["embeddings"].apply(eval).apply(np.array)
df.head()

,text,embeddings
0,"Emily, living in England, who usually plays in...","[-0.015151883475482464, -0.017195267602801323,..."
1,"Jack, living in England, who usually plays in ...","[0.00807875394821167, -0.026968302205204964, 0..."
2,"Alice, living in England, who usually plays in...","[0.003437075298279524, -0.01474058162420988, -..."
3,"Tom, living in England, who usually plays in a...","[0.01544149685651064, -0.017899269238114357, 0..."
4,"Sarah, living in England, who usually plays in...","[-0.009714245796203613, -0.028793489560484886,..."

### Custom Queries

In [25]:
query1 = "What are some common characteristics of characters played in Musical?"
query2 = "Provide two names of old male actors who can play in an american sitcom."

### Create a Function that Finds Related Pieces of Text for a Given Question
In this part, useful function `get_rows_sorted_by_relevance` in the course was used.
This function use the embeddings that we generated previously for the purpose of comparing the vectorized version of our question to the vectorized versions of the rows of the dataset.

In [12]:
def get_rows_sorted_by_relevance(question, df):
    """
    Function that takes in a question string and a dataframe containing
    rows of text and associated embeddings, and returns that dataframe
    sorted from least to most relevant for that question
    """
    
    # Get embeddings for the question text
    question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)
    
    # Make a copy of the dataframe and add a "distances" column containing
    # the cosine distances between each row's embeddings and the
    # embeddings of the question
    df_copy = df.copy()
    df_copy["distances"] = distances_from_embeddings(
        question_embeddings,
        df_copy["embeddings"].values,
        distance_metric="cosine"
    )
    
    # Sort the copied dataframe by the distances and return it
    # (shorter distance = more relevant so we sort in ascending order)
    df_copy.sort_values("distances", ascending=True, inplace=True)
    return df_copy

In [26]:
get_rows_sorted_by_relevance(query1, df).head(5)

,text,embeddings,distances
22,"Dolly, living in USA, who usually plays in a M...","[-0.031535618007183075, -0.0211494043469429, 0...",0.183321
20,"Johnny, living in USA, who usually plays in a ...","[-0.029325218871235847, -0.020784892141819, 0....",0.186419
19,"Donna, living in USA, who usually plays in a M...","[-0.02699066512286663, -0.01740950532257557, 0...",0.187792
38,"Don Carlo, living in Italy, who usually plays ...","[-0.010799444280564785, -0.00947028212249279, ...",0.195284
25,"Crystal, living in USA, who usually plays in a...","[-0.005196164827793837, -0.013521763496100903,...",0.196625

In [17]:
get_rows_sorted_by_relevance(query2, df).head(5)

,text,embeddings,distances
7,"John, living in England, who usually plays in ...","[0.02007964253425598, -0.016262318938970566, -...",0.194401
54,"Mr. Mercer, living in USA, who usually plays i...","[-0.007667117286473513, -0.011930243112146854,...",0.208679
52,"Captain James, living in USA, who usually play...","[-0.007886371575295925, -0.020474107936024666,...",0.209077
50,"Thomas, living in USA, who usually plays in a ...","[-0.014383263885974884, -0.008755599148571491,...",0.214836
3,"Tom, living in England, who usually plays in a...","[0.01544149685651064, -0.017899269238114357, 0...",0.215556

### Create a Function that Composes a Text Prompt
We also use `create_prompt` function from the course.

In [18]:
import tiktoken

def create_prompt(question, df, max_token_count):
    """
    Given a question and a dataframe containing rows of text and their
    embeddings, return a text prompt to send to a Completion model
    """
    # Create a tokenizer that is designed to align with our embeddings
    tokenizer = tiktoken.get_encoding("cl100k_base")
    
    # Count the number of tokens in the prompt template and question
    prompt_template = """
Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context: 

{}

---

Question: {}
Answer:"""
    
    current_token_count = len(tokenizer.encode(prompt_template)) + \
                            len(tokenizer.encode(question))
    
    context = []
    for text in get_rows_sorted_by_relevance(question, df)["text"].values:
        
        # Increase the counter based on the number of tokens in this row
        text_token_count = len(tokenizer.encode(text))
        current_token_count += text_token_count
        
        # Add the row of text to the list if we haven't exceeded the max
        if current_token_count <= max_token_count:
            context.append(text)
        else:
            break

    return prompt_template.format("\n\n###\n\n".join(context), question)

In [27]:
print(create_prompt(query1, df, 200))

Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context:

Dolly, living in USA, who usually plays in a Musical, A bubbly and vivacious performer, Dolly is a fan favorite for her infectious personality and comedic performances. She's known for her campy looks and over-the-top antics, but can struggle with self-doubt and insecurity off stage. She's also a good friend of Johnny, often offering her words of encouragement.

###

Johnny, living in USA, who usually plays in a Musical, A young up-and-coming performer, Johnny is full of energy and enthusiasm. She's known for her edgy and unconventional looks, but can be a bit scatterbrained at times. She looks up to Donna as a mentor and hopes to follow in her footsteps.

---

Question: What are some common characteristics of characters played in Musical?
Answer:

## Custom Performance Demonstration

Demonstrate the performance of your custom query using at least 2 questions. For each question, show the answer from a basic `Completion` model query as well as the answer from your custom query.

### Create a Function that Answers a Question
We also use the `answer_question` function defined in our course.

In [20]:
COMPLETION_MODEL_NAME = "gpt-3.5-turbo-instruct"

def answer_question(
    question, df, max_prompt_tokens=1800, max_answer_tokens=150
):
    """
    Given a question, a dataframe containing rows of text, and a maximum
    number of desired tokens in the prompt and response, return the
    answer to the question according to an OpenAI Completion model
    
    If the model produces an error, return an empty string
    """
    
    prompt = create_prompt(question, df, max_prompt_tokens)
    
    try:
        response = openai.Completion.create(
            model=COMPLETION_MODEL_NAME,
            prompt=prompt,
            max_tokens=max_answer_tokens
        )
        return response["choices"][0]["text"].strip()
    except Exception as e:
        print(e)
        return ""

### Question 1
"Who will be the most appropriate actress to play a 80's romantic movie?"

In [30]:
def initial_answer(query):
    """
    Create and return an initial answer
    """
    initial_answer = openai.Completion.create(
        model="gpt-3.5-turbo-instruct",
        prompt=query,
        max_tokens=150
    )["choices"][0]["text"].strip()
    
    return initial_answer

In [31]:
# basic answer
print(initial_answer(query1))

1. Strong passion and emotion: Musical characters are often portrayed as having a deep desire or intense emotion that drives their actions and motivations.

2. Larger than life personality: Musical characters tend to be larger than life, with exaggerated personalities and dramatic expressions.

3. Confidence and bravado: Many musical characters exude confidence and bravado, often using their charisma and charm to win over others.

4. Creative and expressive: Musical characters are often artistic and expressive, using music and dance as their main means of communication.

5. Love for music: Most musical characters have a deep love and appreciation for music, which is portrayed through their singing and dancing.

6. Struggle and triumph: Many musical characters have a personal struggle or conflict they must overcome

In [28]:
# custom answer
print(answer_question(query1, df))

Bubbly, vivacious, energetic, unconventional, creative, chameleon-like performer with infectious personalities.

### Question 2
"Provide two names of old male actors who can play in an american sitcom."

In [32]:
# basic answer
print(initial_answer(query2))

1. Tom Hanks
2. Morgan Freeman

In [23]:
# custom answer
print(answer_question(query2, df))

1. Mr. Mercer
2. Captain James